.navbar {
  height: 50px;
  background-color: #46a595;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: rgb(140, 192, 194);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 1000;
  font-size: large;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #1d1313;
  background-color: rgba(51, 120, 129, 0.856);
}
.navButton:hover {
  color: #111;
  background: #14ffa5;
  box-shadow: 0 0 50px #e40000;
}
